# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore log files
*.log

# Ignore IntelliJ IDEA files
.idea/

# Ignore Eclipse files
.classpath
.project
.settings/

# Ignore Node.js specific files
node_modules/
package-lock.json
.npm
.env.local
